.react-loading-element {
  position: relative;
  overflow: hidden;
}

.react-loading-element > span {
  position: absolute;
  height: 100%;
  width: 10%;
  background: linear-gradient(
    to right,
    transparent,
    rgba(256, 256, 256, 0.5),
    transparent
  );
  animation: slide-right ease-in-out infinite;
}

@keyframes slide-right {
  to {
    transform: translateX(1000%);
  }
}
